h1 {
    color: red;
    text-align: center;
}

img {
    height: 20em;
}

table, th, td{
    border:solid;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}