<h3>Links to my blog posts</h3>
<nav>
    <ol>
        <li>
            <strong>
                <time datetime="2021-08-03">
                    3
                    <sup>
                        rd
                    </sup>
                    of August 2021
                </time>
            </strong>
        </li>
        <li>
            <a href="./2021-08-07.html">
                <time datetime="2021-08-07">
                    7
                    <sup>
                        th
                    </sup>
                    of August 2021
                </time>
            </a>
        </li>
        <li>
            <a href="./2021-08-13.html">
                <time datetime="2021-08-13">
                    13
                    <sup>
                        th
                    </sup>
                    of August 2021
                </time>
            </a>
        </li>
        <li>
            <a href="./2021-08-26.html">
                <time datetime="2021-08-26">
                    26
                    <sup>
                        th
                    </sup>
                    of August 2021
                </time>
            </a>
        </li>
        <li>
            <a href="./2021-09-03.html">
                <time datetime="2021-09-03">
                    3
                    <sup>
                        rd
                    </sup>
                    of September 2021
                </time>
            </a>
        </li>
        <li>
            <a href="./2021-09-19.html">
                <time datetime="2021-09-19">
                    19
                    <sup>
                        th
                    </sup>
                    of September 2021
                </time>
            </a>
        </li>
    </ol>
</nav>
