<nav>
  <ul>
    <li>
      <a href="#" class="toggle-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </a>
    </li>
    <li class="main-nav-item"><a href="/">Home</a></li>
    <li class="main-nav-item"><a href="/achievements.html">Achievements</a></li>
    <li class="main-nav-item">
      <a href="/crypto_table.html">Cryptocurrency table</a>
    </li>
    <li class="main-nav-item"><a href="/charity_plug.html">Charity plug</a></li>
    <li class="main-nav-item"><a href="/blog/">Blog</a></li>
  </ul>
</nav>
<script>
  const toggleButton = document.getElementsByClassName("toggle-button")[0];
  const navbarLinks = document.getElementsByClassName("main-nav-item");

  toggleButton.addEventListener("click", () => {
    Array.from(navbarLinks).forEach((link) => link.classList.toggle("active"));
  });
</script>
