:root {
  --repeated-background-image: url(./tactile_noise.webp);
  --font-color: azure;
  --dark-theme-border-primary-color: rgb(255, 123, 0);
  --dark-theme-border-secondary-color: red;
}

* {
  margin: 0;
  border: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--font-color);
  line-height: 2;
}

* + * {
  padding: 5px 5px 5px 5px;
}

body {

  max-width: 960px;
  margin: auto;
  margin-block-start: 0;
  padding-block-start: 0;
  background-image: var(--repeated-background-image)
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h3 {
  color: var(--dark-theme-border-primary-color);
}
