dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
}

.skills-images img{
  max-width: 100px;
  aspect-ratio: 1;
}

.light-background img {
  background-color: azure;
}
