nav > ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: fit-content;
}

nav > ul > li > a {
  padding: 10px 10px 10px 10px;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    45deg,
    var(--dark-theme-border-primary-color),
    var(--dark-theme-border-secondary-color)
  );
  text-decoration: none;
}

nav > ul > li > a:hover {
  font-weight: bold;
  color: var(--dark-theme-border-primary-color);
}

.toggle-button {
  display: none;
  width: 30px;
  height: 21px;
  margin: auto;
  border: none;
}

@media (max-width: 800px) {
  .toggle-button {
    display: block;
  }

  .main-nav-item {
    display: none;
  }

  nav > ul {
    flex-direction: column;
    width: 100%;
  }

  .main-nav-item.active {
    display: flex;
  }
}
