nav > ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: fit-content;

  background-color: pink;
}

nav > ul > li > a {

  padding: 10px 10px 10px 10px;
  border: 1px solid navy;
  border-radius: 5px;
  text-decoration: none;
}

